.login-logo {
    max-width: 40%;
    position: relative;
}

.auth-page-header {
    color: white;

}

@media only screen and (max-width: 768px) {
    .login-logo{
        max-width:100%;
    }
    .sign-up-button {
        max-width: 100%;
    }
}
