.post-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.post {
  background-image: url("https://i.imgur.com/iATBtIO.png");
  background-size: cover;
  padding: 20px;
  margin-bottom: 100px;
  width: 500px;
  height: 500px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
  overflow-y: auto;
}

/* Custom Scrollbar for Webkit Browsers */
.post::-webkit-scrollbar {
  width: 8px;
}

.post::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.post::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.post::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.892);
}

.media {
  width: 450px;
  height: 400px;
  object-fit: cover;
  cursor: pointer;
}

.video-thumbnail {
  position: relative;
}

.video-thumbnail video {
  display: block;
  width: 100%;
  height: auto;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
}

.post img {
  width: 450px;
  height: 400px;
  object-fit: cover;
}

.caption {
  font-family:'RockSalt';
  text-align: center;
  font-size: 18px;
  color: black;
  padding: 0px;
  margin-top: 10px;
  box-sizing: border-box;
}

.posted-by {
  position: absolute;
  text-align: center;
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  padding: 0px;
  box-sizing: border-box;
  margin-top: 510px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.modal-media {
  max-width: 100%;
  max-height: 80vh;
}

.edit-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(199, 199, 199);
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
}

.edit-modal textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.edit-modal input[type="file"] {
  margin-bottom: 10px;
}

.edit-modal button {
  margin-right: 10px;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: darkred;
}

.edit-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
}

.edit-button:hover {
  background-color: darkblue;
}

.save-button {
  background-color: green;
  color: white;
}

.save-button:hover {
  background-color: darkgreen;
}

.cancel-button {
  background-color: grey;
  color: white;
}

.cancel-button:hover {
  background-color: darkgrey;
}

@media only screen and (max-width: 768px) {
  .post-container{
    max-width: 100%;
  }
  .post {
    max-width: 95%;
  }
  .media {
    width: 100%;
    height: 100%px;
    object-fit: cover;
    cursor: pointer;
  }
  .post img {
    width: 100%;
    height: 340px;
    object-fit: cover;
  }
  .video-thumbnail video {
    display: block;
    width: 100%;
    height: 340px;
  }
}