.news-feed {
    text-align: center;
}

.posts-logo {
    max-width: 20%;
}

.gigs-logo {
    max-width: 20%;
}
.newsfeed-logo {
    margin-top: 5px;
    max-width: 30%;
}

.jump-gigs-button {
    max-width: 10%;
}

.jump-posts-button {
    max-width: 10%;
}

@media only screen and (max-width: 768px) {
    .posts-logo {
        max-width: 80%;
    }
    
    .gigs-logo {
        max-width: 80%;
    }
    .newsfeed-logo {
        margin-top: 5px;
        max-width: 100%;
    }

}
  