.event-post {
  background-image: url("https://i.imgur.com/WgLC1Yn.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1100px;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  padding: 200px;
  margin-bottom: 0px;
  margin-right: 50px;
  }
  
  .event-post p {
    margin: 0 0 10px;
    text-align: left;
    text-indent: 350px;
  }
  
  .event-post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .h3 {
    text-align: left;
  }