.event-post {
  background-image: url("https://i.imgur.com/p6lXGF4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1300px;
  border-radius: 8px;
  font-family: Ticketing;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  padding: 200px;
  margin-bottom: 0px;
  margin-right: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
  .event-post p {
    margin: 0 0 5px;
    text-align: left;
    text-indent: 300px;
    font-size: 22px;
  }
  
  .event-post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .event-post h2 {
    font-family: Ticketing;
    color: black;
    font-size: 30px;
    text-align: left;
    text-indent: 520px;
}
  
.event-post a:visited {
  color: blue;
}

  @media only screen and (max-width: 768px) {
    .event-post {
      background-image: url("https://i.imgur.com/1rZXbwy.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      /* border-radius: 8px; */
      padding-top: 200px;
      margin-bottom: 0px;
    }

    .event-post p {
      text-align: left;
      margin: 0px;
    }
  }

  .spotify-link {
    color: white;
    background-color: green;
  }

  .ticket-link {
    color: white;
    background-color: orange;
  }